/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
.##.....##....###....########..####....###....########..##.......########..######.
.##.....##...##.##...##.....##..##....##.##...##.....##.##.......##.......##....##
.##.....##..##...##..##.....##..##...##...##..##.....##.##.......##.......##......
.##.....##.##.....##.########...##..##.....##.########..##.......######....######.
..##...##..#########.##...##....##..#########.##.....##.##.......##.............##
...##.##...##.....##.##....##...##..##.....##.##.....##.##.......##.......##....##
....###....##.....##.##.....##.####.##.....##.########..########.########..######.
*/
:root {
    /*COLORES*/
    --color-barra               : #353535;
    --color-eventos             : rgba(255,255,255,.8);
    --color-fondo               : #f2f2f2;
    --color-fondoNombreInvitado : rgba(0,0,0,.55);
    --color-iconos              : #fe4918;
    --color-incluido            : #868686;
    --color-informacion         : #ffffff;
    --color-marcoPrecios        : #f1f1f1;
    --color-menu                : #ffffff;
    --color-menuEventos         : #000000;
    --color-palomita            : #247300;
    --color-redes               : #ffffff;
    --color-transicion          : #e33000;
    --color-shadow              : #666666;
    --color-fondoMapa           : green;
    --color-marcoTestimoniales  : #c8c8c8;
    --color-fondoTestimoniales  : #ffffff;
    --color-newsletter          : #ffffff;
    --color-fondoCopyright      : #2e2e2e;
    --color-fondoCaja           : #ffffff;
    --color-marcoCaja           : #e1e1e1;
    --color-fondoResumen        : #e1e1e1;
colo

/*=================================
=            FUENTES              =
=================================*/
    --fuente-titulo    : 'PT Sans', sans-serif;
    --fuente-principal : 'Open Sans', sans-serif;
    --fuente-subtitulo : 'Oswald', sans-serif;
}
/*=====  End of VARIABLES  ======*/
/*
..######...##........#######..########.....###....##.......########..######.
.##....##..##.......##.....##.##.....##...##.##...##.......##.......##....##
.##........##.......##.....##.##.....##..##...##..##.......##.......##......
.##...####.##.......##.....##.########..##.....##.##.......######....######.
.##....##..##.......##.....##.##.....##.#########.##.......##.............##
.##....##..##.......##.....##.##.....##.##.....##.##.......##.......##....##
..######...########..#######..########..##.....##.########.########..######.
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: var(--color-fondo);
    font-family: var(--fuente-principal);
}

.contenedor {
    width: 98%;
    margin: 0 auto;
}
@media only screen and (min-width:480px){
    .contenedor {
    width: 95%;
    margin: 0 auto;
    }
}
@media only screen and (min-width:768px){
    .contenedor {
    width: 90%;
    margin: 0 auto;
    }
}
@media only screen and (min-width:992px){
    .contenedor {
    width: 90%;
    margin: 0 auto;
    max-width: 1100px;
    }
}
.seccion {
    padding: 30px 0;
}
.seccion p {
    font-size: 1.2;
    text-align: center;
}
h2 {
    /*font-family: var(--fuente-subtitulo);*/
    font-family: var(--fuente-subtitulo);
    font-size: 2.2em;
    text-transform: uppercase;
    text-align: center;
}
h2::after {
    content: '';
    margin: 0 auto;
    background-image: url(../img/resplandece/separador.png);
    height: 30px;
    width: 100px;
    display: block;    
}
h3 {
    font-size: 1.8em;
    color: var(--color-iconos);
    font-family: var(--fuente-titulo);
    margin: 0;
}
.button {
    background-color: var(--color-iconos);
    padding: 10px 40px;
    color: var(--color-menu);
    text-decoration: none;
    text-transform: uppercase;
    /*font-weight: bold;*/
    font-family: var(--fuente-subtitulo);
    margin: 20px;
    font-size: 1em;
    display: inline-block;
    transition: all .8s ease;
}
.button:hover {
    background-color: var(--color-transicion);
}
.button.hollow,
.button.hollow:hover {
    background-color: var(--color-fondo);
    color: var(--color-iconos);
    border: 1px solid var(--color-iconos);
}
.button.transparente {
    border: 2px solid var(--color-newsletter);
    background-color: transparent;
}
.button.transparente:hover {
    border: 2px solid var(--color-iconos);
    background-color: var(--color-iconos);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.float-right {
    float: right;
}

/*
.##.......########.########.########.########.########..####.##....##..######..
.##.......##..........##.......##....##.......##.....##..##..###...##.##....##.
.##.......##..........##.......##....##.......##.....##..##..####..##.##.......
.##.......######......##.......##....######...########...##..##.##.##.##...####
.##.......##..........##.......##....##.......##...##....##..##..####.##....##.
.##.......##..........##.......##....##.......##....##...##..##...###.##....##.
.########.########....##.......##....########.##.....##.####.##....##..######..
*/

h1.nombre-sitio span {
    position: relative;
    text-shadow: 0 0 40px black;
}

@media only screen and (min-width:992px) {
   .char1 {
        top: 20px; 
        right:20px;
   }
   .char2 {
        top: 0;
        left: -20px;
   }
   .char3 {
        top: 10px;
        right: 20px;
   }
   .char4 {
        top: 5px;
        right: 10px;
   }
   .char5 {
        top: 20px;
        right: 30px;
   }
   .char6 {
        bottom: 20px;
        right: 30px;
        top: 10px;
   }
   .char7 {
        right: 30px;
   }
   .char8 {
        bottom: -20px;
        right: 40px;
   }
   .char9 {
        top: 5px;
        right: 55px;
   }
   .char10 {
        top: 15px;
        right: 60px;
   }
   .char11 {
        top: 10px;
       right: 68px;
   }
   .char12 {
        top: 0;
        right: 0;
   }
   .char13 {
        top: 20px;
   }
   .char14 {
        top: 0;
        right: 0;
   }
   .char15 {
        top: 30px;
   }
   .char16 {
       top: 15px;
       right: 5px;
   }
}



/*=====  End of GLOBALES  ======*/

/*
.########.##....##..######.....###....########..########.########....###....########...#######.
.##.......###...##.##....##...##.##...##.....##.##............##....##.##...##.....##.##.....##
.##.......####..##.##........##...##..##.....##.##...........##....##...##..##.....##.##.....##
.######...##.##.##.##.......##.....##.########..######......##....##.....##.##.....##.##.....##
.##.......##..####.##.......#########.##.....##.##.........##.....#########.##.....##.##.....##
.##.......##...###.##....##.##.....##.##.....##.##........##......##.....##.##.....##.##.....##
.########.##....##..######..##.....##.########..########.########.##.....##.########...#######.
*/
div.hero {
    background-image: url(../img/conferencias/encabezado.jpg);
    background-position: top center;
    background-size: cover;
    height: 100vh;
}
div.contenido-header {
    padding-top: 30px;
}
@media only screen and (min-width:768px){
    div.contenido-header {
        padding-top: 10px;
    }
}
nav.redes-sociales {
    text-align: center;
}
nav.redes-sociales a{
    color: var(--color-redes);
    font-size: 2em;
    margin-right: 20px;
}
nav.redes-sociales a:last-child{
    margin-right: 0;
}
div.informacion-evento {
    text-align: center;
    color: var(--color-informacion);
}
@media only screen and (min-width:768px){
    div.informacion-evento {
        width: 70%;
        margin: 0 auto;
        margin-top: 50px;
    }
}
div.informacion-evento p {
    margin: 0;
    display: inline;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: var(--fuente-titulo);
}
div.informacion-evento p i{
    color: var(--color-iconos);
    font-size: 2rem;
}
p.fecha {
    float:left;
}
p.ciudad {
    float: right;
    text-align: right;
}
h1.nombre-sitio {
    font-family: var(--fuente-parrafo);
    font-size: 5.9vw;
    text-transform: uppercase;
}
@media only screen and (min-width:768px){
    h1.nombre-sitio {
        font-size: 7vw;
        margin: 0;
        line-height: 1;
    }
}
div.cuadro-slogan {
    margin: 0;
}
@media only screen and (min-width:992px) {
   div.cuadro-slogan {
      margin-top: 30px;
   }
}
.slogan {
    text-transform: none!important;
    font-size: 3.5vw!important;
}
p.slogan span{
    font-weight: bold;
}


/*=====  End of ENCABEZADO  ======*/

/*
.########.....###....########..########.....###...
.##.....##...##.##...##.....##.##.....##...##.##..
.##.....##..##...##..##.....##.##.....##..##...##.
.########..##.....##.########..########..##.....##
.##.....##.#########.##...##...##...##...#########
.##.....##.##.....##.##....##..##....##..##.....##
.########..##.....##.##.....##.##.....##.##.....##
*/
div.barra {
    background-color: var(--color-barra);
    padding: 20px 0;
 /*   height: 120px;*/
}
div.logo {
    width: 20%;
    margin: 0 auto;
    float: left;
}
div.logo img {
    width: 100%;
}
@media only screen and (min-width:768px){
    div.logo {
    width: 10%;
    }
}
/*=====  End of BARRA  ======*/

/*
.##....##....###....##.....##.########..######......###.....######..####..#######..##....##.........########..########..####.##....##..######..####.########.....###....##......
.###...##...##.##...##.....##.##.......##....##....##.##...##....##..##..##.....##.###...##.........##.....##.##.....##..##..###...##.##....##..##..##.....##...##.##...##......
.####..##..##...##..##.....##.##.......##.........##...##..##........##..##.....##.####..##.........##.....##.##.....##..##..####..##.##........##..##.....##..##...##..##......
.##.##.##.##.....##.##.....##.######...##...####.##.....##.##........##..##.....##.##.##.##.#######.########..########...##..##.##.##.##........##..########..##.....##.##......
.##..####.#########..##...##..##.......##....##..#########.##........##..##.....##.##..####.........##........##...##....##..##..####.##........##..##........#########.##......
.##...###.##.....##...##.##...##.......##....##..##.....##.##....##..##..##.....##.##...###.........##........##....##...##..##...###.##....##..##..##........##.....##.##......
.##....##.##.....##....###....########..######...##.....##..######..####..#######..##....##.........##........##.....##.####.##....##..######..####.##........##.....##.########
*/
nav.navegacion-principal {
    display: none;
}
nav.navegacion-principal a{
    color           : var(--color-menu);
    font-family     : var(--fuente-subtitulo);
    font-size       : 1.3em;
    text-decoration : none;
    text-transform  : uppercase;
    transition      : all .8s ease;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}
nav.navegacion-principal a:first-child{
    margin-top: 10px;
}
nav.navegacion-principal a:hover {
    background-color: var(--color-iconos);
}
nav.navegacion-principal a:last-child{
    border : 1px solid var(--color-iconos);
    color  : var(--color-iconos);
}
nav.navegacion-principal a:last-child:hover{
    color: var(--color-menu);
}
@media only screen and (min-width:768px){
    nav.navegacion-principal {
        display    : block;
        float      : right;
        text-align : right;
        width      : 85%;
    }
    nav.navegacion-principal a {
        display      : inline-block;
        margin-right: 10px;
        padding      : 20px 10px;
        width: auto;
    }

    nav.navegacion-principal a:last-child {
        margin-right: 0;
    }
}

/*=====  End of navegacion-principal  ======*/

/*
.##.....##.########.##....##.##.....##....##.....##..#######..##.....##.####.##......
.###...###.##.......###...##.##.....##....###...###.##.....##.##.....##..##..##......
.####.####.##.......####..##.##.....##....####.####.##.....##.##.....##..##..##......
.##.###.##.######...##.##.##.##.....##....##.###.##.##.....##.##.....##..##..##......
.##.....##.##.......##..####.##.....##....##.....##.##.....##..##...##...##..##......
.##.....##.##.......##...###.##.....##....##.....##.##.....##...##.##....##..##......
.##.....##.########.##....##..#######.....##.....##..#######.....###....####.########
*/
div.menu-movil {
    display    : block;
    float      : right;
    margin-top : 20px;
    text-align : right;
    width      : 60px;
}
div.menu-movil {
    cursor: pointer;
}
@media only screen and (min-width:768px){
    div.menu-movil {
        display: none;
    }
}

div.menu-movil span{
    height: 8px;
    margin-bottom: 6px;
    background-color: var(--color-menu);
    display: block;
}
/*=====  End of MENU MOVIL  ======*/

/*
.########..########...#######...######...########.....###....##.....##....###...
.##.....##.##.....##.##.....##.##....##..##.....##...##.##...###...###...##.##..
.##.....##.##.....##.##.....##.##........##.....##..##...##..####.####..##...##.
.########..########..##.....##.##...####.########..##.....##.##.###.##.##.....##
.##........##...##...##.....##.##....##..##...##...#########.##.....##.#########
.##........##....##..##.....##.##....##..##....##..##.....##.##.....##.##.....##
.##........##.....##..#######...######...##.....##.##.....##.##.....##.##.....##
*/
section.programa {
    position: relative;
}

div.contenedor-video {
    max-width: 100%;
    overflow-x: hidden;
    text-align: center;
}

div.contenido-programa {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

div.programa-evento {
    background-color: var(--color-eventos);
    padding: 15px;
    margin-top: 80px;
}

@media only screen and (min-width:768px){
    div.programa-evento{
        width: 70%;
    }
}

@media only screen and (min-width:992px){
    div.programa-evento{
        width: 50%;
    }
}

nav.menu-programa {
    width: 100%;
    border-bottom: 1px solid var(--color-iconos);
    padding-bottom: 10px;
}
@media only screen and (min-width:768px){
    nav.menu-programa {
        display: table;
    }
}
nav.menu-programa a {
    display: block;
    text-align: center;
    font-family: var(--fuente-subtitulo);
    font-size: 1.2em;
    margin-bottom: 10px;
    text-decoration: none;
    color: var(--color-menuEventos);
    position: relative;
}
nav.menu-programa a.activo::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    width: 30px;
    background-image: url(../img/conferencias/talleres-flecha.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    bottom: -30px;
}
@media only screen and (min-width:768px){
    nav.menu-programa a {
        display: table-cell;
    }
}
nav.menu-programa a i,
div.detalle-evento p i {
    color: var(--color-iconos);
    font-size: 1.4em;
    margin-right: 10px;
}
div.ocultar {
    display: none;
}
/*detalle evento*/
div.detalle-evento {
    margin-top: 20px;
    border-bottom: 1px solid var(--color-menuEventos);
    padding: 0 20px;
}
div.detalle-evento:nth-child(2) {
    border-bottom: none;
}

div.detalle-evento p {
    margin-bottom: 20px;
    font-size: 1.3em;
}

/*=====  End of CONTENIDO DEL PROGRAMA  ======*/

/*
.####.##....##.##.....##.####.########....###....########...#######...######.
..##..###...##.##.....##..##.....##......##.##...##.....##.##.....##.##....##
..##..####..##.##.....##..##.....##.....##...##..##.....##.##.....##.##......
..##..##.##.##.##.....##..##.....##....##.....##.##.....##.##.....##..######.
..##..##..####..##...##...##.....##....#########.##.....##.##.....##.......##
..##..##...###...##.##....##.....##....##.....##.##.....##.##.....##.##....##
.####.##....##....###....####....##....##.....##.########...#######...######.
*/
ul.lista-invitados li {
    padding: 10px;
    float: left;
}

@media only screen and (min-width:480px){
    ul.lista-invitados li {
        width: 50%;
    }
}

@media only screen and (min-width:768px){
    ul.lista-invitados li {
        width: 33.3%;
    }
}

div.invitado {
    position: relative;
    overflow: hidden;
}

div.invitado img {
    max-width: 100%;
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .5s ease-in-out;
}
div.invitado img:hover {
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);}

div.invitado p {
    position: absolute; 
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 15px 10px;
    background-color: var(--color-fondoNombreInvitado);
    width: 100%;
    text-align: left;
    color: var(--color-iconos);
    text-transform: uppercase;
    font-family: var(--fuente-subtitulo);
    -webkit-transition: all .5s ease-in-out;
       -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
         -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
}
div.invitado:hover p {
    bottom: -80px;
    opacity: 0;
}
/*=====  End of INVITADOS  ======*/

/*
..######...#######..##....##.########....###....########...#######..########.
.##....##.##.....##.###...##....##......##.##...##.....##.##.....##.##.....##
.##.......##.....##.####..##....##.....##...##..##.....##.##.....##.##.....##
.##.......##.....##.##.##.##....##....##.....##.##.....##.##.....##.########.
.##.......##.....##.##..####....##....#########.##.....##.##.....##.##...##..
.##....##.##.....##.##...###....##....##.....##.##.....##.##.....##.##....##.
..######...#######..##....##....##....##.....##.########...#######..##.....##
*/
.parallax::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    -webkit-filter: brightness(.7);
       -moz-filter: brightness(.7);
        -ms-filter: brightness(.7);
         -o-filter: brightness(.7);
            filter: brightness(.7);
}
section.contador {
    position: relative;
    height: auto;
}

section.contador::before {
    content: '';
    background-image: url(../img/conferencias/bg-resumen.jpg);
}

ul.resumen-evento {
    position: relative;
    padding: 120px 0;
} 

ul.resumen-evento li {
    width: 50%;
    float: left;
    text-align: center;
    color: var(--color-menu);
    text-transform: uppercase;
    font-family: var(--fuente-subtitulo);
    font-size: 1.4em;
}

@media only screen and (min-width:768px){
    ul.resumen-evento li {
        width: 25%;
    }
}

p.numero {
    color: var(--color-iconos);
    font-size: 4em; 
    margin: 0 0 5px 0;
    padding: 0;
    font-family: var(--fuente-subtitulo);
}

/*=====  End of CONTADOR  ======*/

/*
.########..########..########..######..####..#######...######.
.##.....##.##.....##.##.......##....##..##..##.....##.##....##
.##.....##.##.....##.##.......##........##..##.....##.##......
.########..########..######...##........##..##.....##..######.
.##........##...##...##.......##........##..##.....##.......##
.##........##....##..##.......##....##..##..##.....##.##....##
.##........##.....##.########..######..####..#######...######.
*/
ul.lista-precios > li {
    padding: 10px;
}

@media only screen and (min-width:768px){
    ul.lista-precios > li {
        float: left;
        width: 33.3%
    }
}

div.tabla-precio {
    border: 1px solid var(--color-marcoPrecios);
    background-color: var(--color-menu);
    padding: 40px 0;
    text-align: center;
    -webkit-transition: all .5s ease-in-out;
       -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
         -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
}
div.tabla-precio:hover {
    border: 1px solid var(--color-iconos);
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
    box-shadow: 0px 0px 50px var(--color-shadow);
}

div.tabla-precio h3 {
    font-family: var(--fuente-subtitulo);
    font-size: 1.2em;
    text-transform: uppercase;
}

div.tabla-precio ul li {
    margin-bottom: 20px;
    font-family: var(--fuente-titulo);
    text-transform: uppercase;
    font-size: 1.2em;
    line-height: 1.6em;
    color: var(--color-incluido);
}

div.tabla-precio ul li:before {
    font-family: 'Font Awesome 5 Free';
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    font-size: 20px;
    color: var(--color-palomita);
    -webkit-font-smoothing: antialiased;
    content: '\f00c';
    font-weight: 700;
    
}

div.tabla-precio ul li i{
    color: var(--color-palomita);
}

div.tabla-precio p.numero{
    color: var(--color-menuEventos);
    margin-top: 20px 0;
}
/*=====  End of PRECIOS  ======*/

/*
.##.....##....###....########.....###...
.###...###...##.##...##.....##...##.##..
.####.####..##...##..##.....##..##...##.
.##.###.##.##.....##.########..##.....##
.##.....##.#########.##........#########
.##.....##.##.....##.##........##.....##
.##.....##.##.....##.##........##.....##
*/
div.mapa {
    height: 480px;
}
/*=====  End of MAPA  ======*/

/*
.########.########..######..########.####.##.....##..#######..##....##.####....###....##.......########..######.
....##....##.......##....##....##.....##..###...###.##.....##.###...##..##....##.##...##.......##.......##....##
....##....##.......##..........##.....##..####.####.##.....##.####..##..##...##...##..##.......##.......##......
....##....######....######.....##.....##..##.###.##.##.....##.##.##.##..##..##.....##.##.......######....######.
....##....##.............##....##.....##..##.....##.##.....##.##..####..##..#########.##.......##.............##
....##....##.......##....##....##.....##..##.....##.##.....##.##...###..##..##.....##.##.......##.......##....##
....##....########..######.....##....####.##.....##..#######..##....##.####.##.....##.########.########..######.
*/
div.testimoniales {
    padding-bottom: 20px;

}

div.testimonial {
    padding: 5px;
}

@media only screen and (min-width:768px){
    div.testimonial {
        float: left;
        width: 33.3%;
    } 
}

blockquote {
    background-color: var(--color-fondoTestimoniales);
    border: 1px solid var(--color-marcoTestimoniales);
    position: relative;
    margin: 0 0 10px 0;
    padding-bottom: 20px;
}

div.testimonial blockquote p{
    text-align: justify;
    font-size: 1em;
    font-family: var(--fuente-titulo); 
    padding: 0 20px 0 65px;
}

div.testimonial blockquote p::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f10d";
    position: absolute;
    left: 24px;
    top: 15px;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: var(--color-iconos);
}  

footer.info-testimonial {
    padding: 0;
    background-color: transparent;
}

footer.info-testimonial img {
    width: 20%;
    border-radius: 50%;
    float: left;
    margin-left: 20px;
}

footer.info-testimonial cite {
    text-align: left;
    color: var(--color-iconos);
    text-transform: uppercase;
    font-size: .9em;
    font-family: var(--fuente-titulo);
    padding-top: 20px;
    width: 66.6%;
    float: right;
    font-weight: bold;
    font-style: normal;
}

footer.info-testimonial cite span {
    color: var(--color-incluido);
    display: block;
    text-transform: none;
    margin-top: 5px;
}
/*=====  End of TESTIMONIALES  ======*/

/*
.##....##.########.##......##..######..##.......########.########.########.########.########.
.###...##.##.......##..##..##.##....##.##.......##..........##.......##....##.......##.....##
.####..##.##.......##..##..##.##.......##.......##..........##.......##....##.......##.....##
.##.##.##.######...##..##..##..######..##.......######......##.......##....######...########.
.##..####.##.......##..##..##.......##.##.......##..........##.......##....##.......##...##..
.##...###.##.......##..##..##.##....##.##.......##..........##.......##....##.......##....##.
.##....##.########..###..###...######..########.########....##.......##....########.##.....##
*/
div.newsletter {
    position: relative;
    height: auto;
}

div.newsletter::before {
    background-image: url(../img/conferencias/bg-newsletter.jpg);
    content: '';
}

div.newsletter .contenido {
    padding: 100px 0;
    color: var(--color-newsletter);
    text-align: center;
    position: relative;
}

div.newsletter .contenido p{
    font-size: 1.2em;
    text-transform: lowercase;
} 

div.newsletter .contenido h3 {
    color: var(--color-newletter);
    text-transform: uppercase;
    font-size: 7vw;
    font-family: var(--color-titulo);
}

/*=====  End of NEWSLETTER  ======*/

/*
..######..##.....##.########.##....##.########....###.......########..########..######...########..########..######..####.##.....##....###...
.##....##.##.....##.##.......###...##....##......##.##......##.....##.##.......##....##..##.....##.##.......##....##..##..##.....##...##.##..
.##.......##.....##.##.......####..##....##.....##...##.....##.....##.##.......##........##.....##.##.......##........##..##.....##..##...##.
.##.......##.....##.######...##.##.##....##....##.....##....########..######...##...####.########..######....######...##..##.....##.##.....##
.##.......##.....##.##.......##..####....##....#########....##...##...##.......##....##..##...##...##.............##..##...##...##..#########
.##....##.##.....##.##.......##...###....##....##.....##....##....##..##.......##....##..##....##..##.......##....##..##....##.##...##.....##
..######...#######..########.##....##....##....##.....##....##.....##.########..######...##.....##.########..######..####....###....##.....##
*/
div.cuenta-regresiva ul li{
    text-transform: uppercase;
    font-family: var(--fuente-subtitulo);
    font-size: 1.6rem;
    text-align: center;
}

@media only screen and (min-width:768px){
    div.cuenta-regresiva ul li {
        width: 25%;
        float: left;;
    }
}
/*=====  End of CUENTA REGRESIVA  ======*/

/*
.########..#######...#######..########.########.########.
.##.......##.....##.##.....##....##....##.......##.....##
.##.......##.....##.##.....##....##....##.......##.....##
.######...##.....##.##.....##....##....######...########.
.##.......##.....##.##.....##....##....##.......##...##..
.##.......##.....##.##.....##....##....##.......##....##.
.##........#######...#######.....##....########.##.....##
*/
footer {
    background-color : var(--color-barra);
    padding-top      : 40px;
    margin-top       : 20px;
}

footer .contenedor > div {
color            : var(--color-menu);
padding          : 0 20px;
font-size        : 1em;
}

@media only screen and (min-width:768px){
    footer .contenedor > div {
        width: 33.3%;
        float: left;
    }
}

footer h3 {
    color          : var(--color-menu);
    text-transform : uppercase;
    font-family    : var(--fuente-subtitulo);
    margin-bottom  : 20px;
}

footer h3 span {
    color: var(--color-iconos)
}

footer .ultimos-tweets ul li {
    margin-bottom: 10px;
}

footer .redes-sociales {
    text-align: left;
}

footer .copyright {
    text-align       : center;
    color            : var(--color-menu);
    background-color : var(--color-fondoCopyright);
    padding          : 20px 0;
    margin           : 20px 0 0 0;
}
/*=====  End of FOOTER  ======*/
/*
 
 ██╗███╗   ██╗████████╗███████╗██████╗ ███╗   ██╗ █████╗ ███████╗
 ██║████╗  ██║╚══██╔══╝██╔════╝██╔══██╗████╗  ██║██╔══██╗██╔════╝
 ██║██╔██╗ ██║   ██║   █████╗  ██████╔╝██╔██╗ ██║███████║███████╗
 ██║██║╚██╗██║   ██║   ██╔══╝  ██╔══██╗██║╚██╗██║██╔══██║╚════██║
 ██║██║ ╚████║   ██║   ███████╗██║  ██║██║ ╚████║██║  ██║███████║
 ╚═╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝╚═╝  ╚═╝╚═╝  ╚═══╝╚═╝  ╚═╝╚══════╝
                                                                 
 
*/
/*
.########..########..######...####..######..########.########...#######.
.##.....##.##.......##....##...##..##....##....##....##.....##.##.....##
.##.....##.##.......##.........##..##..........##....##.....##.##.....##
.########..######...##...####..##...######.....##....########..##.....##
.##...##...##.......##....##...##........##....##....##...##...##.....##
.##....##..##.......##....##...##..##....##....##....##....##..##.....##
.##.....##.########..######...####..######.....##....##.....##..#######.
*/
form.registro h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 0 0;
}
form.registro label {
    margin-bottom: 5px;
    font-weight: bold; 
}
h4 {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid var(--color-iconos);
    padding-bottom: 10px;
    font-size: 1.2em;
}
div.caja{
    background-color: var(--color-fondoCaja);
    border: 1 solid var(--color-marcoTestimoniales);
    padding: 10px;
    margin: 10px;
}
div.campo {
    padding: 20px;
}
@media only screen and (min-width:768px) {
    div.campo {
        float: left;
        width: 33.3%
   }
}
div.paquetes .tabla-precio:hover {
    transform: none;
    box-shadow: none;
}
div.paquetes .tabla-precio input {
    clear: both;
    width: 100px;
    margin: 10px auto 0 auto;
    display: block;
}
.contenido-dia {
    padding: 20px;
    display: none;
}
@media only screen and (min-width:768px) {
    .contenido-dia > div {
        float: left;
        width: 33.3%
   }
}
.contenido-dia p {
    text-align: left;
}
.contenido-dia label {
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: .8em;
}
.contenido-dia input {
    margin-right: 10px;
}

.contenido-dia label time {
    color: var(--color-iconos);
    font-weight: bold;
}
/******************
 * FIN DE REGISTO *
 ******************/
/*
.########..########..######..##.....##.##.....##.########.##....##....########..########..######...####..######..########.########...#######.
.##.....##.##.......##....##.##.....##.###...###.##.......###...##....##.....##.##.......##....##...##..##....##....##....##.....##.##.....##
.##.....##.##.......##.......##.....##.####.####.##.......####..##....##.....##.##.......##.........##..##..........##....##.....##.##.....##
.########..######....######..##.....##.##.###.##.######...##.##.##....########..######...##...####..##...######.....##....########..##.....##
.##...##...##.............##.##.....##.##.....##.##.......##..####....##...##...##.......##....##...##........##....##....##...##...##.....##
.##....##..##.......##....##.##.....##.##.....##.##.......##...###....##....##..##.......##....##...##..##....##....##....##....##..##.....##
.##.....##.########..######...#######..##.....##.########.##....##....##.....##.########..######...####..######.....##....##.....##..#######.
*/
.resumen p {
      font-size: 1.2em;
      text-transform: uppercase;
}
div.resumen div.extras {
    float: left;
    width: 50%;
    padding: 30px;
}
div.extras div.orden {
    text-align: left;
    margin-bottom: 10px;
}
div.extras div.orden input{
    margin: 10px 0 0 0;
}
div.resumen div.total {
    float: right;
    width: 50%;
    padding: 30px;
}
div.resumen input {
    display: block;
    margin: 10px auto;
}
#lista-productos {
    background-color: var(--color-fondoResumen);
    padding: 20px;
    display: none;
}
#suma-total {
    /* background-color: var(--color-fondoResumen); */
    text-align: center;
    color: var(--color-iconos);
    font-size: 2em;
}

#error {
    clear: both;
    padding: 20px;
    text-align: center;
    display: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
